[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL

[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm

[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
	
[submodule "vendor/entt"]
	path = vendor/entt
	url = https://github.com/skypjack/entt/
	
[submodule "vendor/SDL_image"]
	path = vendor/SDL_image
	url = https://github.com/libsdl-org/SDL_image
	
[submodule "vendor/box2d"]
	path = vendor/box2d
	url = https://github.com/erincatto/box2d
	
[submodule "vendor/stduuid"]
	path = vendor/stduuid
	url = https://github.com/mariusbancila/stduuid
	
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "vendor/SDL_ttf"]
	path = vendor/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
